@charset "utf-8";
.menufr
{
	margin-top: -72px;
	margin-left: 270px;
}
#ayush
{
	margin-left: 30px;
}
#mittal
{
	font-size: 25;
	color:ghostwhite;
	font-family: monotype corsiva;
	
}
#gupta
{
	font-size: 30;
	color: aqua;
}
.divback
{
	opacity: 0.9;
	border-bottom: aqua 6px solid;
	border-radius: 12px;
}
.aboutushistory
{
	background: #222221;
	opacity:0.9;
	height:110px;
	border-radius:12px;
		border:#81C4B7 2px solid;	
}
.aboutus
{
	background: #222221;
	opacity:0.9;
	height:130px;
	border-radius:12px;
	border:#81C4B7 2px solid
}
.ayush
{
	background: #222221;
opacity: 0.9;
height:700px;
width: 500;
margin-left:10px;
border-radius:12px;	
font-size: 20px;
color: aqua;
border:#81C4B7 2px solid;}
.bgimg
{
	width:240px;
	height: auto; 
	margin-top: 30px;
	margin-left: 30px;
}
ul
{
	margin: 0;
	list-style-type: none;
	padding:0px;
	position: absolute;
}
ul li
{
	opacity: 0.7; 
	display: inline-block;
	margin:0px;
	padding:0px;
	column-width: auto;	
	font-size:auto;
} 
li a
{
	display: block;
	min-width:210px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: "Helvetica Neue", Helveica, Arial, sans-serif;
	color: #FFFFFF;
	background: #222223;
	text-decoration: none;
}
li:hover a
{
	background: #19c589;
}
li:hover ul li a
{
	background: #f3f3f3;
	color: #2f3036;
	height: 30px;
	line-height: 30px;
}
li:hover ul li a:hover
{
	 background: #19c589;
	color: #FFFFFF;
}
li ul
{
	display: none;
	
}
li ul li
{
	display: block;
	float: none;
}
li ul li a
{
	width:210px;
	min-width: 80px;
}
ul li a:hover + .hidden, .hidden:hover
{
	display: block;
}
body
{
	background: url("main.jpg") no-repeat;
	background-size:cover;
	opacity: 1;
}
iframe
{
	padding: 0;
	margin: 0;
}
.abus
{
	font-size:15;
	text-decoration:none;
	color:#ffffff;
	margin-left:1180px;
	margin-top:80px;
}
.abus a
{
	text-decoration:none;
	color:#ffffff;
}
.spa
{
	position: absolute;
	width: 1200px;
	height: 600px;
	background-image: url('img/spa3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background: #222221
		opacity:0.9;
	float:right;
	margin-left: 20px;
	border:#81C4B7 2px solid;
	border-radius: 15px;
	margin-left: 70px;
}
video
{
	border: #ffffff 5px solid;
	border-radius: 15px;
}
.homeinfo
{	
	float:right;
	margin-left: 20px;
}
.img1
{
	margin-top:-900px;
	margin-bottom:255px;
	width:635px;
	height:250 ;
	border: #111111 5px solid;
	border-radius:12px;
	opacity: 0.93;
	margin-left: 10px;
}
.img2
{
	border: #111111 5px solid;
	border-radius:12px;
	width:310px;
	height:230px ;
	margin-top:-500px;
	margin-bottom: 30px;
	opacity: 0.93;
	overflow: hidden;
	margin-left: 7px;
}
.img3
{
	border: #111111 5px solid;
	border-radius:12px;
	width:310px;
	height:230px ;
	margin-top:-500px;
	margin-bottom: 52px;
	opacity: 0.93;
	margin-left: 335px;
	overflow: hidden;
}
.main
{
	background: #222221;
	opacity:0.9;
	height:1700px;
	border-radius:12px;
}
.spamain
{
	background: #222221;
	opacity:0.9;
	height:200px;
	border-radius:12px;
}
#trad
{
	border:#81C4B7 2px solid;
	border-radius: 15px;
	margin-left: 170px;
	width:1000px;
}
#spatrad
{   height: 500px;
	margin-top: 50px;
	border:#81C4B7 2px solid;
	border-radius: 15px;
	margin-left: 100px;
	width:1000px;
}
#exp
{
	margin-left: 330px;
	color:white;
	font-stretch: extra-expanded;
	opacity: 0.9;
	font-family: cursive;
	font-size: 40;
	
}
#set{
	height: 50px;
	width: 70px;
}
#para
{
	margin-left: 450px;
	color:wheat;
	font-family: sans-serif;
}
#paray
{
	margin-left: 500px;
	color:wheat;
	font-family: sans-serif;
}
#paray1
{
	margin-left: 470px;
	color:wheat;
	font-family: sans-serif;
}
.divmf
{
	opacity: 0.9;
	border-radius: 12px;
	border: #ffffff 2px solid;
}
.fb
{
	border-radius:8px;
	margin-left:80px;
	margin-top: -200px;
	height:auto;
	width:40px;
}
.gp
	{
	border-radius:8px;
	margin-left:50px;
	margin-top: 10px;
	height:auto;
	width:40px;
}
.twt
	{
	border-radius:8px;
	margin-left:50px;
	margin-top: -200px;
	height:auto;
	width:40px;
}
.yho
	{
	border-radius:8px;
	margin-left:50px;
	margin-top: -200px;
	height:40px;
	width:45px;
}
.cpy
{
	color:#ffffff;
	margin-top:-35px;
	opacity: 0.9;
	background: #222221;
	margin-left: 550px;
}
.menufr
{
	margin-top: -72px;
	margin-left: 270px;
}
.divback
{
	opacity: 0.9;
	border-bottom: aqua 6px solid;
	border-radius: 12px;
}
.bgimg
{
	width:240px;
	height: auto; 
	margin-top: 30px;
	margin-left: 30px;
}
html, body{
  margin: 0;
  width: 100%;
  height: auto;
}
body{
  background: url("image2.jpg") repeat-y;
  background-size: fill;
}
#divmain{
  background: rgba(0,0,0,.8);
  height: 170px;
  border-bottom: aqua 6px solid;
}
#logo{
  margin-left: 20px;
  margin-top: 40PX;
  border-radius: 5px;
  color: #222;
  width: 50;
  height: 50%;
}
a{
  color: azure;
  text-decoration: none;
}
#aboutus{
    margin-left: 1100px;
    margin-top: 100px;
    font-size: 3;
    font-family: cursive;
    color: azure;
}

.tabs{
  color: azure;
  font-size: 3;
  margin-left: 200px;
  margin-top: -100px;
}

.container{
  margin: 0 auto;
  position: relative;
  padding-bottom: 40%;
  width: 100%;
  height: 100%;
  background: #4c4c4c;
}

.slideimg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideimg img{
  width: 100%;
  height: 100%
}

#i1, #i2, #i3, #i4, #i5, #i6{
  display: none;
}

.pre, .nxt{
  width: 5%;
  height: 100%;
  position: absolute;;
  top: 0;
  background: rgba(88,88,88,.2);
  z-index: 99;
  cursor: pointer;
}
.pre{
  left: 0;
}
.nxt{
  right: 0;
}

.nav{
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots{
  top: -5px;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,.4);
}
.slideimg{
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six{
  z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4,
#i5:checked ~ .nav #dot5,
#i6:checked ~ .nav #dot6{
  background: #fff;
}
#footer{
  height: 50px;
  background: #222;
}
#foottext{
  margin-left: 500px;
  margin-top: -35px;
  opacity: 1;
}
#footimga{
  margin-top: -30px;
  margin-left: 10px;
}
#footimgb
{
  margin-top: -43px;
  margin-left: 800px;
}
.footimg1{
  width: 40px;
  padding: 0 60px;
  height: 40px;
}
.footimg2{
  width: 40px;
  padding: 0 60px;
  height: 40px;
}